.job-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  margin: 40px auto 10px auto;
  padding: 30px 30px 30px 0px;
  border-radius: 5px;
  /*border-left: 5px solid var(--primary-dark_red);*/
}

.job-card__description,
.job-card__tags {
  min-width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-card__description {
  padding-left: 30px;
}

.job-card__description-job-title {
  margin: 10px 0;
  transition: 0.15s;
}

.job-card__description-job-title:hover {
  color: var(--primary-dark_red);
  cursor: pointer;
}

.job-card__description-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

/*
*
* JOB CARD - TAGS SECTION
*
*/

.job-card__tags {
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 200px;
}

/*
*
* Following rules are aiming HTML elements from "Tag.jsx" component
*
*/

.job-card__tags-tag {
  padding: 3px;
  border-radius: 5px;
}

.job-card__tags-tag .tag__title {
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.job-card__tags-tag:hover .tag__title {
  background-color: var(--primary-dark_red);
}

.job-card__tags-tag:hover .tag__title {
  color: var(--tags-light_gray);
}
