.tag {
  display: flex;
  align-items: center;
  margin: 5px 15px 5px 5px;
}

.tag__title {
  margin-right: 8px;
  color: var(--primary-dark_red);
}

.tag__delete-btn {
  background-color: var(--primary-dark_red);
  border: none;
  padding: 10px 10px 6px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.tag__delete-btn:hover {
  background-color: var(--neutral-very_dark_gray);
}
