.bar {
  position: relative;
  width: 80%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-light_gray);
  top: -35px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

.bar__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.bar__clear-btn {
  width: 40px;
  height: 18px;
  color: var(--primary-dark_red);
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}

.bar__clear-btn:hover {
  border-bottom: 2px solid var(--primary-dark_red);
}

.bar__fade-out {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.bar__fade-in {
  opacity: 1;
  width: 80%;
  height: auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
