.bar {
  position: relative;
  width: 80%;
  padding: 15px 20px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-light_gray);
  top: -25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.bar__tags {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bar__clear-btn {
  width: 10%;
}
