:root {
  --primary-dark_red: hsl(180, 29%, 50%);
  --background-light_gray: hsl(180, 52%, 96%);
  --tags-light_gray: hsl(180, 31%, 95%);
  --neutral-dark_gray: hsl(180, 8%, 52%);
  --neutral-very_dark_gray: hsl(180, 14%, 20%);
}

* {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spartan", sans-serif;
}

button:focus {
  outline: none;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-light_gray);
  /* display: flex;
  justify-content: center; */
}

@media screen and (max-width: 375px) {
}
